
# Created by https://www.toptal.com/developers/gitignore/api/helm
# Edit at https://www.toptal.com/developers/gitignore?templates=helm

### Helm ###
# Chart dependencies
chart/**/*.tgz
chart/**/*.lock
.vscode/settings.json
# End of https://www.toptal.com/developers/gitignore/api/helm